<h1>About Me</h1>
<p>
    <h2>develpers</h2>
    This site is developed by Maziar moslemi which is known as mzr96 is online

</p>
<p>
    <h2>Usage</h2>
    This platform help you to create a password depend on your preferences so it is much more secure than yours :depend.

</p>
<p>
    <h2>Donation!</h2>
    You have access to all feutures free of charge but we will appriciate if you can support us with your financial coverage :D
</p><br>
<a href="{% url 'home' %}">Clik here to Go to home page</a>
